@import '../../styles/var.scss';
@import '../../styles/breakpoints.scss';

.input {
  height: 54px;
  width: 328px;
  margin-top: 50px;
  padding-left: 15px;
  outline: none;
  display: block;
  border: 1px solid rgba(208, 207, 207, 1);
  border-radius: 4px;
  background-color: $light-grey;
  color: $input-grey;

  @include min-screen {
    width: 380px;
  }
}

.radio-input {
  display: none;
  & + label::before {
    content: '';
    width: 20px;
    height: 20px;
    margin: 0 12px 2px 0;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid $light-grey-border;
    border-radius: 100%;
  }

  &:checked + label::before {
    content: '';
    border: 1px solid $blue;
  }

  &:checked + label::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 5px;
    display: block;
    border-radius: 100%;
    background-color: $blue;
  }
}

.file-input {
  display: none;

  &__label {
    margin: 47px 0 50px 0;
    padding-left: 98px;
    position: relative;
    line-height: 52px;
    text-align: left;

    &::before {
      content: 'Upload';
      height: 54px;
      width: 83px;
      position: absolute;
      top: -1px;
      left: -1px;
      line-height: 52px;
      text-align: center;
      box-sizing: border-box;
      background-color: $light-grey;
      border: 1px solid $black87;
      border-radius: 4px 0 0 4px;
    }
  }
}
