@import '../../styles/var.scss';

.input {
  height: 54px;
  min-width: 328px;
  padding-left: 16px;
  color: rgba(126, 126, 126, 1);
  outline: none;
  border: 1px solid rgba(208, 207, 207, 1);
  border-radius: 4px;
  &:hover {
    border: 3px solid $blue;
  }
  &:active {
    border: 3px solid $blue;
    border-radius: 0;
  }
}
