@import '../../styles/var.scss';

.button {
  height: 34px;
  width: 100px;
  border: 0;
  border-radius: 80px;
  background-color: $yellow;

  &:hover {
    background-color: $yellow-hover;
  }

  &:disabled {
    color: $white87;
    background-color: $dark-grey;
  }

  &__show-more {
    width: 120px;
  }
}