@import '../../styles/var.scss';
@import '../../styles/breakpoints.scss';

.p1 {
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  &--headline {
    padding: 21px 0 32px 0;
  }
  &--name {
    padding: 20px 0;
    white-space: nowrap;
  }
  &--form {
    padding-left: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: $input-grey;
  }
}
