.post {
  text-align: center;
  padding: 140px 16px 100px 16px;
}

.form {
  width: 328px;
  margin: 0 auto;
}

.fieldset {
  margin-top: 43px;
  text-align: left;
  border: none;
}

.legend {
  margin-bottom: 10px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}
