@import '../../var.scss';

.no-flights {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #2f2f2f;
  background-color: $white;
}

.flights {
  background-color: $white;

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-heading {
      padding: 35px 0 15px 0;
      font-size: 16px;
      font-weight: 600;
      color: $dark-grey;
    }
  }
}

.flight {
  height: 62px;
  font-size: 18px;
  align-items: center;

  &:nth-last-of-type(even) {
    background-color: rgba(0, 102, 135, 0.1);
  }

  &:hover {
    box-shadow: 0 5px 6px $dark-grey;

    .flight__item_details {
      visibility: visible;
    }
  }

  &__item {
    width: 73px;

    &_details {
      visibility: hidden;
      color: $blue;
    }

    &_status {
      width: 140px;
    }

    &_airline {
      width: 200px;
    }
  }

  &__terminal {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    font-size: 22px;
    color: $green;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border: 1px solid $green;
    border-radius: 20px;

    &_D {
      color: $blue;
      border-color: $blue;
    }
  }

  &__airline {
    position: relative;

    &-logo {
      width: 68px;
      margin-right: 14px;
    }

    &-name {
      position: absolute;
      top: 11px;
    }
  }
}
