.flights__table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;

  &_heading {
    padding: 35px 0 15px 0;
    font-size: 16px;
    font-weight: 600;
    color: #95989a;
  }
}

.flight {
  height: 72px;
  align-items: center;
  &:hover {
    box-shadow: 0 5px 6px #95989a;
  }
  &:nth-last-of-type(odd) {
    background-color: rgba(0, 102, 135, 0.1);
  }
  &__item {
    width: 73px;
  }
  &__terminal {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    font-size: 22px;
    color: #63c745;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border: 1px solid #63c745;
    border-radius: 20px;
  }
  &__status {
    width: 120px;
  }
  &__airline {
    width: 200px;
    &-logo {
      width: 68px;
    }
  }
}
