$white: rgba(255, 255, 255, 1);
$white87: rgba(255, 255, 255, 0.87);

$black: rgba(5, 5, 16, 1);

$grey: rgba(151, 151, 155, 1);
$grey1: rgba(195, 195, 198, 1);
$dark-grey: rgba(85, 85, 92, 1);
$light-grey: rgba(247, 247, 248, 1);

$violet: rgba(101, 52, 255, 1);
$violet-background: rgba(95, 48, 249, 1);

$red: rgba(244, 67, 54, 1);
