@import '../../../../scss/var.scss';

.popup {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 5, 16, 0.16);
}
.visible {
  display: flex;
}
.sort {
  width: 373px;
  height: 192px;
  padding: 25px 16px 8px 17px;
  border-radius: 20px;
  position: relative;
  background-color: $white;
  &_legend {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
  &_input {
    appearance: none;
    width: 21px;
    height: 21px;
    margin-right: 14px;
    position: relative;
    border-radius: 50%;
    border: 2px solid $violet;
    cursor: pointer;

    &:checked {
      border: 6px solid $violet;
    }
  }
  &_label {
    height: 57px;
    display: flex;
    align-items: end;
    cursor: pointer;
  }
  &_close {
    position: absolute;
    top: 24px;
    right: 23px;
    cursor: pointer;
  }
}
