.calendar {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #b8b9b9;
    background-color: #fff;

    &__item {
        width: 100px;
        line-height: 30px;
        text-align: center;
        border-bottom: 3px solid #d0d0d0;
        cursor: pointer;
    }

    &__item-text {
        font-size: 16px;
        font-weight: 600;
    }
}