.calendar {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #b8b9b9;
    background-color: #fff;

    &__date-picker {
        color: #1eb7ee;
        font-weight: 600;
        text-align: center;
    }

    &__item {
        width: 100px;
        text-align: center;
        line-height: 17px;
        border-bottom: 3px solid #d0d0d0;
        cursor: pointer;
    }

    &__item-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 39px;
    }
}

.date-picker {
    display: flex;
    flex-direction: column;
    border: 0;
    outline: 0;

    &::-webkit-datetime-edit {
        color: #1eb7ee;
        font-weight: 600;
        text-align: center;
    }

    &::-webkit-datetime-edit-text {
        display: none;
    }

    // &::-webkit-datetime-edit-day-field {}

    // &::-webkit-datetime-edit-month-field {}

    &::-webkit-calendar-picker-indicator {
        width: 40px;
        height: 40px;
        background-image: url('../../images/calendar.svg');
        background-color: #1eb7ee;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::-webkit-datetime-edit-year-field {
        display: none;
    }

}