@import '../../styles/var.scss';

.worker {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_data {
    display: flex;
    align-items: center;
  }
  &_avatar {
    width: 72px;
    height: 72px;
    margin: 0 16px 0 0;
    border-radius: 50px;
    &--big {
      margin: 0 0 24px 0;
      width: 104px;
      height: 104px;
    }
  }
  &_name {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    &--big {
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 12px;
    }
  }

  &_position {
    font-size: 13px;
    line-height: 16px;
    color: $dark-grey;
    text-transform: capitalize;
  }
  &_birthdate {
    font-size: 15px;
    color: $dark-grey;
    text-transform: lowercase;
  }

  &_tag {
    font-size: 14px;
    font-weight: 500;
    color: $grey;
    text-transform: lowercase;
    &--big {
      font-size: 17px;
      font-weight: 400;
    }
  }
}
