@import '../../styles/var.scss';

.header {
  height: 48px;
  padding: 16px 0 12px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $black;
}

.search {
  position: relative;
  padding: 6px 0;
  &_icon {
    top: 15px;
    left: 12px;
    position: absolute;
  }

  &_input {
    width: 1248px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px 40px;
    border-radius: 16px;
    font-weight: 500;
    background-color: $light-grey;
    &::placeholder {
      color: $grey1;
    }
  }
}
.sort-icon {
  position: absolute;
  top: 20px;
  right: 10px;
}
