@import '../../styles/var.scss';

.search {
  position: relative;
  margin: 0 auto;
  width: 1248px;
  padding: 6px 0;
  &::before {
    position: absolute;
    top: 15px;
    left: 12px;
    content: url(../../images/search.svg);
  }
  &_input {
    width: 1248px;
    height: 40px;
    border: none;
    font-size: 15px;
    padding: 8px 40px;
    border-radius: 16px;
    font-weight: 500;
    background-color: $light-grey;
    &::placeholder {
      color: $grey1;
    }
  }
}
.filter {
  position: absolute;
  top: 20px;
  right: 10px;
}
