@import '../../../../scss/var.scss';

.title {
  padding: 16px 0 12px 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $black;
  &--white {
    color: $white;
  }
}

.connection-error {
  padding-bottom: 28px;
  font-weight: 500;
  font-size: 13px;
  color: $white;
}

.search {
  position: relative;
  padding: 6px 0;
  &_icon {
    top: 15px;
    left: 12px;
    position: absolute;
  }

  &_input {
    width: 1248px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 8px 43px;
    border-radius: 16px;
    font-weight: 500;
    background-color: $light-grey;
    caret-color: $violet;
    &::placeholder {
      color: $grey1;
    }
    &::-webkit-search-cancel-button {
      cursor: pointer;
    }
  }
}
.sort-icon {
  position: absolute;
  top: 20px;
  right: 13px;
  cursor: pointer;
}
