@import '../../scss/var.scss';

.error {
  width: 344px;
  position: absolute;
  text-align: center;
  top: calc(50% - 75px);
  left: calc(50% - 172px);

  &__image {
    width: 56px;
    height: 56px;
  }

  &__message {
    padding-top: 4px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
  }

  &__text {
    padding-top: 12px;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
  }

  &__text_violet {
    color: $violet;
    font-weight: 600;
    cursor: pointer;
  }
}