@import '../../scss/var.scss';

.profile {
  width: 100%;
  background-color: $light-grey;
  &_header {
    padding: 0 0 24px 0;
    text-align: center;
  }
  &_data {
    padding: 14px 8px 35px 9px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
    background-color: $white;
  }
  &_icons {
    padding-right: 13px;
    vertical-align: sub;
  }
  &_age {
    color: $grey;
  }
  &_esc {
    padding: 28px 0 24px 32px;
    text-align: left;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}
