@import '../../styles/var.scss';
@import '../../styles/breakpoints.scss';

.headline {
  height: 500px;
  background-size: 341%;
  background-position: -445px -315px;
  background-repeat: no-repeat;
  background-image: url('../../images/pexels-alexandr-podvalny-1227513.jpeg');
  position: relative;
  z-index: 0;
  color: $white;
  text-align: center;

  @include min-screen {
    background-size: 345% 164%;
    background-position: -961px -317px;
  }

  @include mid-screen {
    height: 650px;
    background-size: 343% 164%;
    background-position: -1274px -412px;
  }

  &__heading-wrapper {
    width: 328px;
    height: 500px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::after {
      content: '';
      width: 100%;
      height: inherit;
      position: absolute;
      top: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    @include min-screen {
      width: 380px;
      padding-top: 0;
      justify-content: center;
    }

    @include mid-screen {
      width: 380px;
      height: 650px;
      padding-top: 0;
      justify-content: center;
    }
  }
}