@import '../../styles/var.scss';
@import '../../styles/breakpoints.scss';

.headline {
  height: 500px;
  background-size: 341%;
  background-position: -445px -315px;
  background-repeat: no-repeat;
  background-image: url('../../images/pexels-alexandr-podvalny-1227513.jpeg');
  text-align: center;
  color: $white;
  position: relative;
  @include min-screen {
    background-size: 241%;
    background-position: -645px -565px;
  }
  @include mid-screen {
    background-size: 141%;
    background-position: -405px -415px;
  }
  &__bg-dimmer {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__text-wrapper {
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 328px;
    @include min-screen {
      width: 380px;
    }
  }
}
