@import 'styles/var.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.page {
  margin: 0 auto;
  width: 1280px;
  min-height: 100vh;
  color: $black-text;
  line-height: 20px;
  background-color: $white;
}
.section {
  margin: 0 auto;
  width: 1248px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
