@import 'styles/var.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.app {
  // margin: 0 auto;
  width: 1280px;
  color: $black;
  min-height: 100vh;
  line-height: 20px;
  background-color: $white;
}
.section {
  padding: 0 16px;
  &--red {
    background-color: $red;
  }
  &--violet {
    background-color: $violet;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
